@import "tailwindcss";

@keyframes bounceOnce {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    transform: translateY(-8px);
    opacity: 1;
  }
  75% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounce-once {
  animation: bounceOnce 0.5s ease-out forwards;
}
